{% extends 'auth/template.twig' %}

{% block content %}
    <div class="animate form login_form" style="top: 15px;">
        <section class="login_content">
            <form action="{{ path_for('auth.register') }}" method="post" autocomplete="off">
                <h1>{{ translate('core.auth.register.title') }}</h1>
                <div class="form-group{{ errors.username ? '  has-error' ? '' }}">
                    <input type="text" class="form-control" placeholder="{{ translate('core.auth.generic.username') }}" name="username" id="username" value="{{ old.username }}" required=""/>
                    {%  if errors.username  %}
                        <span class="help-block">{{ errors.username | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group{{ errors.email ? '  has-error' ? '' }}">
                    <input type="email" class="form-control" placeholder="demo@demo.com" name="email" id="email" value="{{ old.email }}" required="" />
                    {%  if errors.email  %}
                        <span class="help-block">{{ errors.email | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group{{ errors.password ? '  has-error' ? '' }}">
                    <input type="password" class="form-control" placeholder="{{ translate('core.auth.generic.password') }}" name="password" id="password" required="" />
                    {%  if errors.username  %}
                        <span class="help-block">{{ errors.password | first }}</span>
                    {% endif %}
                </div>

                {{ csrf.field | raw }}

                <div>
                    <button type="submit" class="btn btn-default submit">{{ translate('core.auth.generic.submit') }}</button>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">{{ translate('core.auth.generic.lost') }}?
                        <a href="{{ base_url() }}" class="to_register"> {{ translate('core.auth.register.login') }} </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <h1><i class="fa fa-database"></i> CyberWorks 3</h1>
                        <p>&copy;2017 <a href="https://cyberbyte.org.uk">Cyberbyte Studios</a>. Theme By <a href="https://colorlib.com/">Colorlib</a> All Rights Reserved.</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock %}