{% extends 'auth/template.twig' %}

{% block content %}
    <div class="animate form login_form" style="top: 15px;">
        <section class="login_content">
            <form action="{{ path_for('auth.password.reset') }}" method="post" autocomplete="off">
                <h1>{{ translate('core.auth.reset.titleRequest') }}</h1>
                <div class="form-group{{ errors.email ? '  has-error' ? '' }}">
                    <input type="text" class="form-control" placeholder="{{ translate('core.auth.generic.email') }}" name="email" id="email" required="" />
                    {%  if errors.email  %}
                        <span class="help-block">{{ errors.email | first }}</span>
                    {% endif %}
                </div>

                {{ csrf.field | raw }}

                <div>
                    <button type="submit" class="btn btn-default submit">{{ translate('core.auth.generic.submit') }}</button>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">{{ translate('core.auth.register.new') }}?
                        <a href="{{ base_url() }}/auth/register" class="to_register"> {{ translate('core.auth.register.title') }} </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <h1><i class="fa fa-database"></i> CyberWorks 3</h1>
                        <p>&copy;2017 <a href="https://cyberbyte.org.uk">Cyberbyte Studios</a></p>
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock %}