{% extends 'templates/template.twig' %}

{% block content %}
    <div class="clearfix"></div>

    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-users"></i></div>
                <div class="count">{{ players }}</div>
                <h3>{{ translate('core.dashboard.tiles.players') }}</h3>
                <p>{{ translate('core.dashboard.tiles.totalPlayers') }}.</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-user"></i></div>
                <div class="count">{{ newestPlayer }}</div>
                <h3>{{ translate('core.dashboard.tiles.latestPlayer') }}</h3>
                <p>{{ translate('core.dashboard.tiles.latestPlayerDesc') }}</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-car"></i></div>
                <div class="count">{{ veh_count }}</div>
                <h3>{{ translate('core.dashboard.tiles.totalVehicles') }}</h3>
                <p>{{ translate('core.dashboard.tiles.totalVehiclesDesc') }}</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-home"></i></div>
                <div class="count">{{ house_count }}</div>
                <h3>{{ translate('core.dashboard.tiles.totalHouses') }}</h3>
                <p>{{ translate('core.dashboard.tiles.totalHousesDesc') }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h3>{{ translate('core.dashboard.titles.tenRichestPlayersBank') }}</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ translate('life.generic.name') }}</th>
                        <th>{{ translate('life.generic.bank') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in richPlayers %}
                        <tr>
                            {% if auth.permissions.can_view_player %}
                                <th scope="row"><a href="{{ base_url() }}/player/{{ player.uid }}" target="_blank">{{ player.name }}</a></th>
                            {% else %}
                                <th scope="row">{{ player.name }}</th>
                            {% endif %}
                            <td>${{ player.bankacc }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h3>{{ translate('core.dashboard.titles.tenRichestPlayersCash') }}</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{{ translate('life.generic.name') }}</th>
                    <th>{{ translate('life.generic.cash') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for player in richPlayersCash %}
                    <tr>
                        {% if auth.permissions.can_view_player %}
                            <th scope="row"><a href="{{ base_url() }}/player/{{ player.uid }}" target="_blank">{{ player.name }}</a></th>
                        {% else %}
                            <th scope="row">{{ player.name }}</th>
                        {% endif %}
                        <td>${{ player.cash }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>{{ translate('core.dashboard.titles.factionMetrics') }}</h3>
            <canvas id="chartjs-4" class="chartjs" width="770" height="385" style="display: block; width: 770px; height: 385px;"></canvas>
        </div>
    </div>

    <div class="row">
        {% if auth.permissions.is_superUser %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ translate('core.dashboard.updates.title') }}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="divider-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-12 control-label" style="text-align: center;" id="version-cur"></label>
                            <label class="col-sm-12 control-label" style="text-align: center;" id="version-latest"></label>
                            <label class="col-sm-12 control-label" style="text-align: center;" id="version-needed"></label>
                            <label class="col-sm-12 control-label" style="text-align: center;"><a href="https://github.com/Cyberbyte-Studios/CyberWorks-3/releases/latest" >Link</a></label>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ base_url() }}/assets/vendors/Chart.js/dist/Chart.min.js"></script>
    <script>
        $(document).ready(function() {
            $.get("{{ base_url() }}/api/internal/metrics/faction", function (data) {
                var metrics = data;
                var factions = new Chart(document.getElementById("chartjs-4"),{
                    "type":"doughnut",
                    "data":{
                        "labels": metrics.labels,
                        "datasets":[
                            {
                                "label":"Breakdown Of Factions",
                                "data": metrics.metricdata,
                                "fill":false,
                                "backgroundColor":[
                                    "rgba(54, 162, 235, 0.2)",
                                    "rgba(255, 99, 132, 0.2)",
                                    "rgba(153, 102, 255, 0.2)"
                                ],
                                "borderColor": "rgb(247, 247, 247)"
                            }
                        ]
                    }
                });
            });

            $.get("{{ base_url() }}/api/internal/check/update", function (data) {
                $('#version-cur').text("{{ translate('core.dashboard.updates.current') }} " + data.current_version);
                $('#version-latest').text("{{ translate('core.dashboard.updates.latest') }} " + data.latest_version);

                if (data.needs_update) {
                    $('#version-needed').text("{{ translate('core.dashboard.updates.needsUpdate') }} {{ translate('core.dashboard.updates.yes') }}" );
                } else {
                    $('#version-needed').text("{{ translate('core.dashboard.updates.needsUpdate') }} {{ translate('core.dashboard.updates.no') }}" );
                }
            });
        });
    </script>
{% endblock %}