<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="{{ base_url() }}" class="site_title"><i  style="border: 0;" class="fa fa-database"></i> <span>CyberWorks 3</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="{{ auth.user.profilePicture }}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>{{ translate('core.generic.welcome') }},</span>
                <h4 style = "color: #fff;">{{ auth.user.name }}</h4>
                <p class="btn btn-primary">{{ auth.permissions.group_name|raw }}</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>{{ translate('core.nav.general') }}</h3>
                <ul class="nav side-menu">
                    <li>
                        <a href="{{ base_url() }}/">
                            <i class="fa fa-home"></i> {{ translate('core.nav.home') }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>{{ translate('life.title') }}</h3>
                <ul class="nav side-menu">
                    {% if auth.permissions.can_view_players %}
                        <li>
                            <a href="{{ base_url() }}/players">
                                <i class="fa fa-users"></i> {{ translate('life.players.title') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if auth.permissions.can_view_vehicles %}
                        <li>
                            <a href="{{ base_url() }}/vehicles">
                                <i class="fa fa-car"></i> {{ translate('life.vehicles.title') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if auth.permissions.can_view_gangs %}
                        <li>
                            <a href="{{ base_url() }}/gangs">
                                <i class="fa fa-users"></i> {{ translate('life.gangs.title') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if auth.permissions.can_view_houses %}
                        <li>
                            <a href="{{ base_url() }}/houses">
                                <i class="fa fa-home"></i> {{ translate('life.houses.title') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if auth.permissions.can_view_containers %}
                        <li>
                            <a href="{{ base_url() }}/containers">
                                <i class="fa fa-briefcase"></i> {{ translate('life.containers.title') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% if auth.isSuperUser %}
                <div class="menu_section">
                    <h3>{{ translate('core.nav.admin.title') }}</h3>
                    <ul class="nav side-menu">
                        <li>
                            <a href="{{ base_url() }}/metrics">
                                <i class="fa fa-bar-chart"></i> {{ translate('core.nav.admin.metrics') }}
                            </a>
                        </li>
                        {% if auth.permissions.can_view_logs %}
                            <li>
                                <a><i class="fa fa-folder-open"></i> {{ translate('core.nav.admin.logs.title') }} <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="{{ base_url() }}/logs/player">
                                            <i class="fa fa-file-text-o"></i> {{ translate('core.nav.admin.logs.player') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url() }}/logs/vehicle">
                                            <i class="fa fa-file-text-o"></i> {{ translate('core.nav.admin.logs.vehicle') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url() }}/logs/gang">
                                            <i class="fa fa-file-text-o"></i> {{ translate('core.nav.admin.logs.gang') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url() }}/logs/house">
                                            <i class="fa fa-file-text-o"></i> {{ translate('core.nav.admin.logs.house') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url() }}/logs/container">
                                            <i class="fa fa-file-text-o"></i> {{ translate('core.nav.admin.logs.container') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url() }}/logs/user">
                                            <i class="fa fa-file-text-o"></i> {{ translate('core.nav.admin.logs.user') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url() }}/logs/group">
                                            <i class="fa fa-file-text-o"></i> {{ translate('core.nav.admin.logs.group') }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if auth.permissions.can_edit_group_perms %}
                            <li>
                                <a><i class="fa fa-folder-open"></i> {{ translate('core.nav.admin.groups') }} <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="{{ base_url() }}/groups">
                                            <i class="fa fa-list"></i> {{ translate('core.generic.list') }}
                                        </a>
                                    </li>
                                    {% if auth.permissions.can_make_groups %}
                                        <li>
                                            <a href="{{ base_url() }}/group/new">
                                                <i class="fa fa-pencil"></i> {{ translate('core.generic.new') }}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if auth.permissions.can_edit_users %}
                            <li>
                                <a><i class="fa fa-users"></i> {{ translate('core.nav.admin.users') }} <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="{{ base_url() }}/users">
                                            <i class="fa fa-list"></i> {{ translate('core.generic.list') }}
                                        </a>
                                    </li>
                                    {% if auth.permissions.can_add_user %}
                                        <li>
                                            <a href="{{ base_url() }}/user/new">
                                                <i class="fa fa-pencil"></i> {{ translate('core.generic.add') }}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <!-- /sidebar menu -->
    </div>
</div>
