{% extends 'templates/template.twig' %}

{% block title %}
    | {{ group.group_name }}
{% endblock %}

{% block style %}
    <link href="{{ base_url() }}/assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<form class="form-horizontal form-label-left" method="post" action="{{ path_for('group.update', {'id': group.id }) }}">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Group Settings</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"> Title</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                {% if auth.permissions.can_edit_group_name %}
                                    <input type="text" class="form-control" name="group_name" value="{{ group.group_name }}">
                                {% else %}
                                    <input type="text" class="form-control" name="group_name" value="{{ group.group_name }}" disabled>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    {% if useIps %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{ translate('core.perms.group.ipsID') }}</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                {% if auth.permissions.can_edit_group_ips_id %}
                                    <input type="number" class="form-control" name="group_id" value="{{ group.group_id }}">
                                {% else %}
                                    <input type="text" class="form-control" name="group_id" value="{{ group.group_id }}" disabled>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <button type="submit" class="btn btn-warning" style="display: block; width:100%;"  data-toggle="modal" data-target=".compensate">{{ translate('core.perms.group.save') }}</button>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
            <div class="row">
                <h1 class="text-center">{{ translate('core.perms.group.gPerms') }}</h1>
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        {% if auth.permissions.can_edit_group_perms_player %}
                            <li role="presentation" class="active">
                                <a href="#player_perms" id="player_perms-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ translate('life.player.title') }}</a>
                            </li>
                        {% endif %}
                        {% if auth.permissions.can_edit_group_perms_vehicle %}
                            <li role="presentation">
                                <a href="#vehicle_perms" id="vehicle_perms-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ translate('life.vehicles.titleSingle') }}</a>
                            </li>
                        {% endif %}
                        {% if auth.permissions.can_edit_group_perms_gang %}
                            <li role="presentation">
                                <a href="#gang_perms" id="gang_perms-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ translate('life.gangs.titleSingle') }}</a>
                            </li>
                        {% endif %}
                        {% if auth.permissions.can_edit_group_perms_house %}
                            <li role="presentation">
                                <a href="#house_perms" id="house_perms-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ translate('life.houses.titleSingle') }}</a>
                            </li>
                        {% endif %}
                        {% if auth.permissions.can_edit_group_perms_container %}
                            <li role="presentation">
                                <a href="#container_perms" id="container_perms-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ translate('life.containers.titleSingle') }}</a>
                            </li>
                        {% endif %}
                        {% if auth.permissions.can_edit_group_perms_settings %}
                            <li role="presentation">
                                <a href="#admin_perms" id="admin_perms-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ translate('life.generic.admin') }}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        {% if auth.permissions.can_edit_group_perms_player %}
                            <div role="tabpanel" class="tab-pane fade active in" id="player_perms" aria-labelledby="home-tab">
                                <h2>{{ translate('life.perms.view') }}</h2>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.view.players') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_players" {% if group.can_view_players %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.view.player') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_player" {% if group.can_view_player %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.view.civLic') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_player_civ_lic" {% if group.can_view_player_civ_lic %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.view.copLic') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_player_cop_lic" {% if group.can_view_player_cop_lic %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.view.medLic') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_player_ems_lic" {% if group.can_view_player_ems_lic %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.view.notes') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_player_notes" {% if group.can_view_player_notes %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.view.editLog') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_player_edit_log" {% if group.can_view_player_edit_log %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.view.veh') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_player_vehicles" {% if group.can_view_player_vehicles %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h2>{{ translate('life.perms.edit') }}</h2>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.edit.cash') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_cash" {% if group.can_edit_cash %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.edit.bank') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_bank" {% if group.can_edit_bank %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.edit.donator') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_donator" {% if group.can_edit_donator %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.edit.jailed') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_jailed" {% if group.can_edit_jailed %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.edit.civLic') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_civ_lic" {% if group.can_edit_civ_lic %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.edit.cRank') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_cop_rank" {% if group.can_edit_cop_rank %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.edit.copLic') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_cop_lic" {% if group.can_edit_cop_lic %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.edit.mRank') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_ems_rank" {% if group.can_edit_ems_rank %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.edit.medLic') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_ems_lic" {% if group.can_edit_ems_lic %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <h2>{{ translate('life.perms.admin') }}</h2>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.admin.aRank') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_admin_rank" {% if group.can_edit_admin_rank %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.admin.blacklist') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_blacklist" {% if group.can_blacklist %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.admin.comp') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_compensate" {% if group.can_compensate %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.admin.addNote') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_add_note" {% if group.can_add_note %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.player.admin.delNote') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_delete_note" {% if group.can_delete_note %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if auth.permissions.can_edit_group_perms_vehicle %}
                            <div role="tabpanel" class="tab-pane fade" id="vehicle_perms" aria-labelledby="home-tab">
                                <div class="row">

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h2>{{ translate('life.perms.view') }}</h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.veh.view.vehicles') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_vehicles" {% if group.can_view_vehicles %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.veh.view.vehicle') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_vehicle" {% if group.can_view_vehicle %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h2>{{ translate('life.perms.edit') }}</h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.veh.edit') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_vehicle" {% if group.can_edit_vehicle %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if auth.permissions.can_edit_group_perms_gang %}
                            <div role="tabpanel" class="tab-pane fade" id="gang_perms" aria-labelledby="home-tab">
                                <div class="row">

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h2>{{ translate('life.perms.view') }}</h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.gang.view') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_gangs" {% if group.can_view_gangs %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h2>{{ translate('life.perms.edit') }}</h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.gang.edit') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_gang" {% if group.can_edit_gang %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if auth.permissions.can_edit_group_perms_house %}
                            <div role="tabpanel" class="tab-pane fade" id="house_perms" aria-labelledby="home-tab">
                                <div class="row">

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h2>{{ translate('life.perms.view') }}</h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.house.view') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_houses" {% if group.can_view_houses %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h2>{{ translate('life.perms.edit') }}</h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.house.edit') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_house" {% if group.can_edit_house %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if auth.permissions.can_edit_group_perms_container %}
                            <div role="tabpanel" class="tab-pane fade" id="container_perms" aria-labelledby="home-tab">
                                <div class="row">

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h2>{{ translate('life.perms.view') }}</h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.container.view') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_containers" {% if group.can_view_containers %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h2>{{ translate('life.perms.edit') }}</h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('life.perms.container.edit') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_container" {% if group.can_edit_container %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if auth.permissions.can_edit_group_perms_settings %}
                            <div role="tabpanel" class="tab-pane fade" id="admin_perms" aria-labelledby="home-tab">
                                <h2>{{ translate('life.perms.edit') }}</h2>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.ePPG') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_group_perms_player" {% if group.can_edit_group_perms_player %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.eVPG') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_group_perms_vehicle" {% if group.can_edit_group_perms_vehicle %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.eGPG') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_group_perms_gang" {% if group.can_edit_group_perms_gang %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.eGP') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_group_perms" {% if group.can_edit_group_perms %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.eHPG') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_group_perms_house" {% if group.can_edit_group_perms_house %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.eCPG') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_group_perms_container" {% if group.can_edit_group_perms_container %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.eAP') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_group_perms_settings" {% if group.can_edit_group_perms_settings %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.ePGN') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_group_name" {% if group.can_edit_group_name %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.isSuper') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="is_superUser" {% if group.is_superUser %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.vLogs') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_view_logs" {% if group.can_view_logs %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.newPG') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_make_groups" {% if group.can_make_groups %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.eUsers') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_edit_users" {% if group.can_edit_users %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.addUser') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_add_user" {% if group.can_add_user %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ translate('core.perms.admin.delUser') }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="checkbox" class="js-switch" name="can_del_user" {% if group.can_del_user %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                </div>
                                            </div>
                                        </div>

                                        {% if useIps %}
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">{{ translate('core.perms.admin.editIpsID') }}</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input type="checkbox" class="js-switch" name="can_edit_group_ips_id" {% if group.can_edit_group_ips_id %} checked="" {% endif %} style="display: none;" data-switchery="true">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ csrf.field | raw }}
</form>
{% endblock %}

{% block script %}
    <script>
        var csrfTokenName = "{{ csrf.javascript.tokenName }}";
        var csrfTokenValue = "{{ csrf.javascript.tokenValue }}";
    </script>

    <!-- Datatables -->
    <script src="{{ base_url() }}/assets/vendors/datatables.net/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/datatables.net-buttons/js/buttons.flash.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/datatables.net-buttons/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/datatables.net-buttons/js/buttons.print.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/jszip/dist/jszip.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/pdfmake/build/pdfmake.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/pdfmake/build/vfs_fonts.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/vendors/switchery/dist/switchery.min.js" type="text/javascript"></script>
{% endblock %}